<h1>Zagaku</h1>

<p class="quotes">
  Zagaku is a Japanese word that means <i> classroom lecture</i>. 
  During a Zagaku a crafter or an apprentice gives a lecture. 
</p>
<p class="quotes">
  Docendo discimus - Through teaching we learn.
</p>